

#head{
	background:#000;
	min-height:20px;
	min-width:100%;
	padding:10px 0 10px 0;;
}

.head-isi{
	width:800px;
	margin:0 auto !important;
	color:#fff;
	font:Arial, Helvetica, sans-serif;
	font-size:11px;
	padding-top:5px;
	text-align:right;
}

#isi{
	min-height:500px;
	width:800px;
	margin:0 auto !important;
}

#logo{
	height:60px;
	min-width:100%;
	border-bottom:1px solid #999;
		-webkit-box-shadow: 0 4px 6px -6px #222;
  		-moz-box-shadow: 0 4px 6px -6px #222;
 		box-shadow: 0 4px 6px -6px #222;
}

.logo{
	padding-top:10px;
	min-height:50px;
	width:25%;
	font: Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:bolder;
	float:left;
	margin-top:-60px;

}

.logo-kanan{
	float:right;
	width:74%;
	min-height:50px;
	padding-top:30px;
	text-align:right;
	margin-top:-65px;
	font-weight:bolder;
	color:#ff0000;
}

img{
	vertical-align:middle;
}

#gambar {
	float:right;
	width:50px;
	overflow: hidden;
	position: relative;
	padding-right:20px;
}
.ket {
	width: 40px;
	height: auto;
	text-align: left;
	padding: 3px 5px;
	background: #000;
	opacity: 0.6;
	color: #fff;
	line-height: 18px;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif; 
	-webkit-border-radius: 0x 25px 0px 0px;
	-moz-border-radius: 0px 25px 0px 0px;
	-o-border-radius: 0px 25px 0px 0px;
	border-radius: 0px 25px 0px 0px;
	}
#gambar .ket {
	position: absolute;
	bottom: 0;
	left: 0;
	margin-bottom: -300px;
	-webkit-transition: all 1s ease-out;
	-moz-transition: all 1s ease-out;
	-o-transition: all 1s ease-out;
	transition: all 1s ease-out;
	}
#gambar:hover {
	/*-webkit-box-shadow:0px 0px 25px #000000;
	-moz-box-shadow:0px 0px 25px #000000;
	-o-box-shadow:0px 0px 25px #000000;
	box-shadow:0px 0px 25px #000000;*/
}
#gambar:hover .ket {
	margin-bottom: 0px;
}

#cari{
	min-height:100px;
	width:100%;
}

#footer{
	background:#eb6d19;
	width:100%;
	min-height:105px;
	position:absolute;
}

#tengah{
	min-height:300px;
	width:100%;
}



/*search*/
/* Form wrapper styling */
.form-wrapper {
    width: 450px;
    border-radius: 10px;
    box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
	margin:18px 0 0 130px;
}
 
/* Form text input */
 
.form-wrapper input {
    width: 330px;
    height: 20px;
    padding: 10px 5px;
    float: left;    
    font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 0;
    background: #eee;
    border-radius: 3px 0 0 3px;      
}
 
.form-wrapper input:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}
 
.form-wrapper input::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;
   font-style: italic;
}
 
.form-wrapper input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}
 
.form-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}    
 
/* Form submit button */
.form-wrapper button {
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 110px;
    font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
    color: #fff;
    text-transform: uppercase;
    background: #d83c3c;
    border-radius: 0 3px 3px 0;      
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}   
   
.form-wrapper button:hover{     
    background: #e54040;
}   
   
.form-wrapper button:active,
.form-wrapper button:focus{   
    background: #c42f2f;
    outline: 0;   
}
 
.form-wrapper button:before { /* left arrow */
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #d83c3c transparent;
    top: 12px;
    left: -6px;
}
 
.form-wrapper button:hover:before{
    border-right-color: #e54040;
}
 
.form-wrapper button:focus:before,
.form-wrapper button:active:before{
        border-right-color: #c42f2f;
}      
 
.form-wrapper button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
    border: 0;
    padding: 0;
}   

.cf:before, .cf:after{
    content:"";
    display:table;
}
 
.cf:after{
    clear:both;
}
 
.cf{
    zoom:1;
}  